*{
    margin: 0;
    padding: 0;
}
.apartado{
    background-color: rgb(83, 35, 116);
    color: white;
}
.subapartado{
    background-color: rgb(231, 210, 231);
}
.colum{
    background-color: rgb(224, 228, 243);
}
.tabla{
	margin: 0 auto;
}
.inicio{
    padding-top: 65px;
    text-align: center;
}
/***************************/
header{
    background-color: rgb(10, 77, 82);
    text-align: center;
}
header ul{
    list-style: none; /*Eliminar biñetas de la listas*/
    margin: 0;
    padding: 0;
}

header ul li{
    display: inline-block; /*Para que las palabras esten seguiditas*/
}
.fijo{
    position: fixed; /*La posicion va a ser fijo*/
    width: 100%; /*Tamaño del menu*/
    top: 0;/*Que este pegado hasta arriba*/
    font-size: 17px;
}

#izq{
    float: left;
}
#dere{
    float: right;
}
header ul li a{
    color: rgb(255, 255, 255); /*color de letras*/
    font-weight: 1000; /*en negritas*/
    display: block; /* Para que lo haga bloque o al tamaño del padding*/
    padding: 20px;
    text-decoration: none; /* Sin subrayado*/
}
a.active{
    background-color: rgb(224, 42, 72);
}
header li a:hover{
    background-color: rgb(224, 42, 72);
}
/***************************/
#multimedia{
    text-align: center;
}
/***************************/
footer{
    list-style: none; /*Eliminar biñetas de la listas*/
    text-align: center;
}

footer ul li{
    display: inline-block; /*Para que las palabras esten seguiditas*/
}

footer ul li a{
    color: rgb(13, 50, 131); /*color de letras*/
    font-weight: 1000; /*en negritas*/
    display: block; /* Para que lo haga bloque o al tamaño del padding*/
    padding: 10px;
    text-decoration: none; /* Sin subrayado*/
}

.pie a:hover{
    background-color: rgb(3, 40, 121);
    color: white;
}